[Unit]
Description=MoCo runtime service
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/libexec/moco-service-start.sh -c /etc/moco/gpio.conf

[Install]
WantedBy=multi-user.target
