[Match]
Name=eth*

[Network]
DHCP=yes

[DHCP]
ClientIdentifier=mac
UseDNS=true
UseNTP=true
SendHostname=true
UseHostname=true
UseDomains=true
UseRoutes=true
DUIDType=link-layer

[Address]
Address=192.168.0.10/24